{
    "dark-sky": {
        "key": "your key here!",
        "location": {
            "latitude": 123,
            "longitude": 123 
        }
    },
    "sunset": {
        "hour": 18,
        "minute": 0
    },
    "sunrise": {
        "hour": 1,
        "minute": 0
    }
}
